<div>
  <h1>Register to be a Carrot!</h1>
  <form action="" method="">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="text" name="email" placeholder="Email"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Create">
    <a href="/"><button>Cancel</button></a>
  </form>
</div>
