<main role="main">
  <ul class="entries">
      <li class="entry">
        <center>
          <span class="singer">True Or False</span>
          <h2 class="card">
            Round <%= @current_user.round_count(@deck.id)%> <br>
            Question <%= session[:user][:card_no] %> of <%= @deck.cards.size %>
            <br><br><br>
            <%= @card.question %></h2>
        </center>
      <form action="/users" method="post">
        <input type="text" name="guess[response]" placeholder="Your Guess:"><br><br>
        <input type="submit" value="Submit">
      </li>
  </ul>
</main>
