<main role="main">
  <div class="container flash_card">
      <h1>Round <%= @current_user.round_count(@deck.id)%> </h1>
      <h2>Question <%= session[:card] %> of <%= @deck.cards.size %> </h2>
    <article class="card">
      <p> <%= @card.question %></p>
    </article>
    <form action="/users" method="post">
      <input type="radio" name="guess[response]" value="true" checked><span>True</span><br><br>
      <input type="radio" name="guess[response]" value="false"><span>False</span><br><br>
      <input type="submit" value="Submit">
    </li>
  </div>
</main>
