<main role="main">
  <ul class="entries">
      <li class="entry">
        <center>
          <span class="singer">True Or False</span>
          <h2 class="card">
            Question <%= 1 %> of <%= 3 %>
            <br><br><br>
            <%= @card.question %></h2>
        </center>
      <form action="/users" method="post">
        <input type="text" name="" placeholder="Your Guess:"><br><br>
        <input type="submit" value="Submit">
      </li>
  </ul>
</main>
