<h1>Welcome To Carrots</h1>

<main role="main">
  <% @decks.each do |deck| %>
  <ul class="entries">
      <li class="entry">
        <span class="singer"><%= deck.name %></span>
        <ul class="entry-links">
          <li class="entry-link"><a href="/decks/<%= deck.id %>">PLAY DECK</a></li>
        </ul>
      </li>
  </ul>
  <% end %>
</main>
