<main role="main">
  <h1>Deck: <%= @deck.name %></h1>

  <p>Does bugs bunny like carrots? If you answer yes! You are CARROTS!</p>

  <p>Test your knowledge on everyone's favorite orange vegetables. Learn interesting information about the carrot, its use throughout history and different ways carrots are prepared for eating.</p>

  <p>Were carrots always orange? What country produces the most carrots? Find out the answers to these questions and much more with our fun carrot flash card deck.</p>

  <a href="/decks/<%= @deck.id %>/rounds/<%= @current_user.round_count(@deck.id) + 1 %>/cards"><p class="buttons t-center">Start Round <%= @current_user.round_count(@deck.id) + 1 %></p></a>
</main>
