<main role="main">
  <ul class="entries">
      <li class="entry">
        <center>
          <span class="singer">True Or False</span>
        <h2 class="card"><br><br>Mel Blanc, the voice of cartoon character Bugs Bunny, reportedly did not like carrots.</h2>
      </center>
      </li>
  </ul>
</main>
