<main role="main">
  <ul class="entries">
      <li class="entry">
        <center>
          <span class="singer">True Or False</span>
        <h2 class="card"><br><br>Mel Blanc, the voice of cartoon character Bugs Bunny, reportedly did not like carrots.</h2>
      </center>
      <form action="/users" method="post">
        <input type="text" name="" placeholder="Your Guess:"><br><br>
        <input type="submit" value="Submit">
      </li>
  </ul>
</main>
