<h1>Welcome To Carrots</h1>

<main role="main">
  <ul class="entries">
      <li class="entry">
        <span class="singer">FlashCard Deck Name</span>
        <span class="song-title">description of that deck</span>

        <ul class="entry-links">
          <li class="entry-link"><a href="">play deck</a></li>
        </ul>
      </li>
  </ul>

  <ul class="entries">
      <li class="entry">
        <span class="singer">FlashCard Deck Name</span>
        <span class="song-title">description of that deck</span>

        <ul class="entry-links">
          <li class="entry-link"><a href="">play deck</a></li>
        </ul>
      </li>
  </ul>

  <ul class="entries">
      <li class="entry">
        <span class="singer">FlashCard Deck Name</span>
        <span class="song-title">description of that deck</span>

        <ul class="entry-links">
          <li class="entry-link"><a href="">play deck</a></li>
        </ul>
      </li>
  </ul>
</main>
