<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Carrots</title>
</head>

<body>
  <div class="container">
    <header role="banner">
      <img src="images/logo.png" width="50px" height="50px">
      <a class="title" href="/">Carrots</a>
      <a href="#" class="signup button">Logout</a>
      <a href="#" class="signup button">Login</a>
      <a href="/users/signup" class="signup button">Sign up</a>
    </header>

    <%= yield %>

    <footer role="siteinfo">
      <span class="legal">Carrots 2017</span>
    </footer>
  </div>
</body>
</html>
